:root {
	--1: rgb(0, 255, 128);
	--2: rgb(0, 255, 64);
	--3: rgb(0, 255, 0);
	--4: rgb(64, 255, 0);
	--5: rgb(128, 255, 0);
	--6: rgb(192, 255, 0);
	--7: rgb(255, 255, 0);
	--8: rgb(255, 192, 0);
	--9: rgb(255, 100, 0);
	--10: rgb(255, 0, 0);
	--11: rgb(255, 0, 50);
	--12: rgb(255, 0, 100);
	--13: rgb(255, 0, 150);
	--14: rgb(255, 0, 200);
	--15: rgb(255, 0, 255);
	--16: rgb(200, 0, 255);
	--17: rgb(150, 0, 255);
	--18: rgb(100, 0, 255);
	--19: rgb(50, 0, 255);
	--20: rgb(0, 0, 255);
	--perfect: rgb(255, 255, 0);
	--great: rgb(20, 128, 0);
	--good: rgb(0, 128, 255);
	--miss: rgb(255, 0, 0);
	--trueperfect: rgb(255, 128, 0);
}

body {
font-family: monospace;
background-color: black;
color: #FF0000;
font-size: 15px;
}